@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="~/css/sobre.css"> <!-- Adicione o link para o arquivo CSS -->
</head>
<body>
    <div class="container">
        <h1>Sobre os Desenvolvedores</h1>
        <p>Nosso grupo é composto por estudantes de Engenharia da Computação da Faculdade Engenheiro Salvador Arena</p>

        <div class="developer-container">
            <div class="developer-card">
                <img src="IMG/2.PNG" alt="Eliza Eduarda">
                <p>Eliza Eduarda RA:082220039</p>
            </div>

            <div class="developer-card">
                <img src="IMG/3.PNG" alt="Guilherme Augusto">
                <p>Guilherme Augusto Morais da Silva RA:082220018</p>
            </div>

            <div class="developer-card">
                <img src="IMG/4.PNG" alt="Igor Albuquerque">
                <p>Igor Albuquerque Pierote RA:081230041</p>
            </div>

            <div class="developer-card">
                <img src="IMG/5.PNG" alt="Keven Christian Rodrigues">
                <p>Keven Christian Rodrigues Ferro RA:082220026</p>
            </div>

            <div class="developer-card">
                <img src="IMG/Paulo_Henrique.jpg" alt="Paulo Henrique">
                <p>Paulo Henrique Alves Silva RA:082220016</p>
            </div>

            <div class="developer-card">
                <img src="IMG/Wendell_Foto.jpeg" alt="Wendell Moreira Guindani">
                <p>Wendell Moreira Guindani RA:082220017</p>
            </div>
        </div>
    </div>
</body>
</html>

Faça uma estilização com base nessa página