@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sobre</title>
</head>
<body>
    <h1>Sobre os Desenvolvedores</h1>
    <p>Nosso grupo é composto por estudantes de Engenharia da Computação da Faculdade Engenheiro Salvador Arena</p>
    
    <div class="container">
        <img src="IMG/2.PNG" alt="Imagem 2">
        <p>Eliza Eduarda RA:092220039</p>

        <img src="IMG/3.PNG" alt="Imagem 3">
        <p>
            Guilherme Augusto Morais da Silva RA:082220018
        </p>

        <img src="IMG/4.PNG" alt="Igor Albuquerque">

        <p>
            Igor Albuquerque Pierote 081230041
        </p>

        <img src="IMG/5.PNG" alt="Keven Christian Rodrigues">

        <p>
            Keven Christian Rodrigues Ferro RA:082220026

        </p>
        <img src="IMG/Paulo_Henrique.jpg" alt="Paulo Henrique">

        <p>
            Paulo Henrique Alves Silva RA:082220016

        </p>

        <img src="IMG/Wendell_Foto.jpeg" alt="Wendell Moreira Guindani">

        <p>
            Wendell Moreira Guindani RA:082220017

        </p>
    </div>
</body>
</html>
