@{
    ViewData["Title"] = "Essa é a página de início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao Aluguel de Sensores</h1>

    <a asp-controller="Home" asp-action="Usuario" class="btn btn-primary mt-3">Gerenciar Usuários</a>
</div>