@{
    ViewData["Title"] = "Essa é a página de início";
}

<div class="main-container">
    <!-- Título de boas-vindas -->
    <h1 class="welcome-message">Seja bem-vindo ao Aluguel de Sensores</h1>

    <!-- Contêiner de Botões -->
    <div class="home-buttons-container">
        <a asp-controller="Home" asp-action="Usuario" class="btn btn-primary mt-3">Gerenciar Usuários</a>
        <a asp-controller="Home" asp-action="Empresa" class="btn btn-primary mt-3">Gerenciar Empresas</a>
        <a asp-controller="Home" asp-action="Sensor" class="btn btn-primary mt-3">Gerenciar Sensores</a>
        <a asp-controller="Home" asp-action="Aluguel" class="btn btn-primary mt-3">Gerenciar Aluguéis</a>
    </div>
</div>>