@{
    ViewData["Title"] = "Essa é a página de início";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Home" asp-action="Usuario" class="btn btn-primary mt-3">Gerenciar Usuários</a>
</div>